# CONFIGURATION BOTS
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_private_chat_id_here

# BINANCE API KEYS (FUTURES)
BINANCE_API_KEY=your_binance_api_key
BINANCE_API_SECRET=your_binance_api_secret

# AI MODEL KEYS
GEMINI_API_KEY=your_google_gemini_api_key

# TRADING MODE: "paper_trading" (Testnet) or "live_trading" (Real money)
TRADE_MODE=paper_trading
