flet>=0.21.2
TikTokLive>=6.0.0
facebook-sdk>=3.1.0
gspread>=6.0.0
google-auth>=2.27.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
python-dotenv>=1.0.0
requests>=2.31.0
matplotlib
pandas
openpyxl>=3.1.2
pytest>=8.0.0
